<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div
      class="main w-full min-h-screen bg-zinc-900 p-10 text-white text-lg font-['serif']"
    >
      <a href="/" class="bg-blue-800 p-2 rounded-lg">Return to home</a>
      <div class="bg-zinc-600 outline-none w-full rounded-lg p-2 mt-2"> <%= filename %> </div>
      <form action="/editt/<%= filename %>  " method="POST">
        <textarea
          class="block mt-2 bg-zinc-600 outline-none w-full resize-none py-2 px-4 rounded-lg tracking-tighter"
          placeholder="The description of the task goes here"
          name="description"
        ></textarea>
        <div
          class="buttons mt-2 text-white bg-blue-800 p-2 rounded-lg text-sm w-[6.5vw] text-center"
        >
          <button type="submit" class="mr-2">EDIT FILE</button>
        </div>
      </form>
    </div>
  </body>
</html>
