<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Project: Social Media Platform</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body >
    <div class="bg-zinc-900 text-white font-serif flex flex-col items-center justify-center h-screen">
        
        <div class="text-blue-600"> <a href="https://github.com/REVANTH-2-0-0-4/backend">Wanna have a look at My backend journey ? click now</a></div>
        <h1 class="text-4xl mb-4">Welcome to My Mini Project</h1>
    <p class="text-lg mb-8 text-center max-w-xl">
        This is a social media-like platform where you can create, edit, and delete posts, upload pictures, and like posts. 
        Features include user authentication and authorization to ensure secure access. 
        Start exploring by logging in or signing up!
    </p>
    <div class="flex gap-4">
        <a href="/login" 
           class="bg-blue-600 hover:bg-blue-800 text-white px-6 py-3 rounded-md text-lg transition duration-300">
           Login
        </a>
        <a href="/signup" 
           class="bg-blue-600 hover:bg-blue-800 text-white px-6 py-3 rounded-md text-lg transition duration-300">
           Signup
        </a>
    </div>
    
    </div>
    
</body>
</html>
