<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="bg-zinc-900 w-full h-screen p-10 text-white font-serif">
        <div class="text-center text-[3vw] ">
             This is the profile Page
        </div> 

    </div>
    
</body>
</html>